
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

main{
    min-height: 100vh;
}
/* images*/
.responsive{
   width: 100%;
   height: auto;

}

body{
    background-image: url(../images/AdobeStock_183953916-1.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.myself{
    max-width: 400px;
    max-height: 600px;
    border-radius: 50%;
    position: absolute;
    top: 20%;
}
.gym{
    height: 600px;
    width: 600px;
    position:absolute;
    bottom: 0;
    right: 0;
}
h1{
    color: white;
}
.workout{
    color: #fff;
    text-align: center;
}
    
}
header div {
   text-align: center;
    font-size: 280%;

}
#menu{
   
    display: flex;
    font-size:110%;
    justify-content:center; 
}
#menu > li{
    padding-left:1rem;
    margin:1rem;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-evenly;
    right: 50px;
    font-size: 150%;
    
   
}

#menu a{
    text-decoration: none;
    color: inherit;
}
nav{
   width: 100%;
  top: 180px;
  left: 0; 
  color: white;
  
}
.active{
    border-bottom: 1px solid #fff;
}

.powerlifting{
  text-align: center;
  color: white;
    
}
.workout{
    background-color:rgba(0, 0, 0, .6);
}

#exercises{
    color: white;
}

#exercises body{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
section div{
    width: 100%;
    border-style: solid;
    height: 100%;
    padding: 4px;
    margin: 2px;
}
section{
    margin-top: 10%;
}

div p{
    display: flex;  
    flex-direction: column; 
    width: 100%;
}

p{
    font-size: 150%;
}




#social-networks{
    text-align: center;
    padding: 20px 0;
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;
}

/* about me section*/

section h1{
    font-size: 200%;
    text-align: center;
}

.container{
text-align: center;
}
#info{
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
    font-family:'oswald' , sans-serif;
}

#ego{
    border-radius: 50%;
    max-width: 50%;
    max-height: 50%;
}
footer{
  color: #fff;
}
    