
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
body{
    margin: 0;
}
/* main 100vh to push down footer */
main{
    min-height: 100vh;
}
/* images*/
.responsive{
   width: 100%;
   height: auto;

}
/* background image to body*/
body{
    background-image: url(../images/adobestock_183953916-1.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
}

header{
    margin-bottom: 100px;
}
h1{
    color: white;
}
/* made rgb to be more visable and center content in middle*/
.workout{
    color: #fff;
    text-align: center;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
/* to position div in center*/
.position{
    text-align: center;
    display: flex;
    justify-content: center;
}
#exercises div{
    height: fit-content;
}

    
header div {
   text-align: center;
}
/* max width to fit content*/
.intro{
    max-width: 600px;
}
.intro p{
    border-style: solid;
    background-color:rgba(0, 0, 0, .8);
}
/* rgb and border to not blend in with background*/
#headline{
    background-color:rgba(0, 0, 0, .8);
    border-style: solid;
}
/* position in center of screen*/
.headline{
    display: flex;
    justify-content: center;
}
/* make nav list in row*/
#menu{
    display: flex;
}
/* space between list items*/
#menu > li{
    margin:1rem;
    list-style-type: none;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

header{
    width: 100%;
}
/*make navbar darker and center on page*/
nav{
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(60, 60, 60, 0.8);
}

/* max width to fit content and to not blend in*/
#exercises{
    color: white;
    max-width: 70%;
    
}

/* rgb and border to not blend in background*/
section div{
    border-style: solid;
    padding: 4px;
    margin: 2px;
    background-color: rgba(60, 60, 60, 0.8);
}
/*make text more easy to read*/
p{
    font-size: 150%;
}



/* social media links in footer*/
#social-networks{
    text-align: center;
    padding: 20px 0;
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#social-networks i{
    font-size: 160%;
    color: #fff;
}

/* flexbox to center about me section in middle*/

section h1{
    font-size: 200%;
    text-align: center;
}
.aboutme{
    display: flex;
    justify-content: center;
}
.aboutme div{
    text-align: center;
}
.container{
text-align: center;
}
/* keep information section max width to not extend*/
#info{
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
    font-family:'oswald' , sans-serif;
    max-width: 70%;
    border-style: solid;
}
/* to make picture oval*/
#ego{
    border-radius: 50%;
    max-width: 700px;
}


/* book a session form*/

#signup {
    background-image: url("../images/signup-image.webp");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}
/* center form and made rgb to read more easy */
#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
    max-width: 700px;
    margin: auto;
}


#signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

/* blocks in signupform to type information */
.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height:30px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}
/* styling to input blocks to seperate and transparent to read*/
.input{
    background: transparent;
    color: #fafafa;
    width: 100%;
    height:30px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}
/* button to submit the form*/
.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    
}
/* footer rgb to not blend in with background*/
footer{
  color: #fff;
 background-color: rgba(60, 60, 60, 0.6);
}
footer li{
    font-size: 150%;
}
/* added to shrink down nav bar and img on about me */
@media screen and (max-width: 768px){
    #ego{
        width: 100%;
        height: auto;
    }
    
}
/* increse size of navbar */
@media screen and (min-width: 1200px){
    nav{
        font-size: 150%;
    }
}
@media screen and (max-width: 576px){
    #exercises{
        max-width: 100%;
    }
   
}
   
    