
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
body{
    margin: 0;
}
main{
    min-height: 100vh;
}
/* images*/
.responsive{
   width: 100%;
   height: auto;

}

body{
    background-image: url(../images/AdobeStock_183953916-1.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
}
.myself{
    max-width: 400px;
    max-height: 600px;
    border-radius: 50%;
    position: absolute;
    top: 20%;
}
.gym{
    height: 600px;
    width: 600px;
    position:absolute;
    bottom: 0;
    right: 0;
}
h1{
    color: white;
}
.workout{
    color: #fff;
    text-align: center;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.position{
    text-align: center;
    display: flex;
    justify-content: center;
}
#exercises div{
    height: fit-content;
}
    
header div {
   text-align: center;
}
.intro{
    max-width: 600px;
}
.intro p{
    border-style: solid;
    background-color:rgba(0, 0, 0, .6);
}
#headline{
    text-align: center;
    color: #fafafa;
    font-size: 200%;
}
#menu{
    display: flex;
    justify-content:center; 
}
#menu > li{
    margin:1rem;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-evenly;
    right: 50px;
    font-size: 100%;
    
   
}

#menu a{
    text-decoration: none;
    color: inherit;
}
header{
    width: 100%;
}
nav{
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
}
.active{
    border-bottom: 1px solid #fff;
}

.powerlifting{
  text-align: center;
  color: white;
    
}

#exercises{
    color: white;
    max-width: 70%;
    
}

#exercises body{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
section div{
    border-style: solid;
    height: 100%;
    padding: 4px;
    margin: 2px;
    background-color: rgba(60, 60, 60, 0.6);
}

div p{
    display: flex;  
    flex-direction: column; 
    width: 100%;
}

p{
    font-size: 150%;
}




#social-networks{
    text-align: center;
    padding: 20px 0;
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#social-networks i{
    font-size: 160%;
    color: #fff;
}

/* about me section*/

section h1{
    font-size: 200%;
    text-align: center;
}

.container{
text-align: center;
}
#info{
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
    font-family:'oswald' , sans-serif;
}

#ego{
    border-radius: 50%;
    max-width: 700px;
}


/* book a session form*/

#signup {
    background-image: url("../images/signup-image.webp");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
    max-width: 700px;
    margin: auto;
}


#signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}


.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height:30px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}
.input{
    background: transparent;
    color: #fafafa;
    width: 100%;
    height:30px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}
.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    
}
footer{
  color: #fff;
 background-color: rgba(60, 60, 60, 0.6);
}
footer li{
    font-size: 150%;
}
/* added to shrink down nav bar and img on about me */
@media screen and (max-width: 768px){
    #ego{
        width: 100%;
        height: auto;
    }
}
/* increse size of navbar */
@media screen and (min-width: 1200px){
    nav{
        font-size: 150%;
    }
}
@media screen and (max-width: 576px){
    #exercises{
        max-width: 100%;
    }
}
   
    